.about-container {
  background-image: url("../../assets//images/code_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 430px;
  
}

.about-image {
  position: relative;
  max-height: 400px;
  min-height: 400px;
  max-width: 350px;
  right: -4%;
  bottom: -32px;
  object-fit: none;
}

.about-content-wrapper {
  padding: 0px;
  overflow: hidden;
}

.about-content {
  color: white;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}

.about-content.hide {
  transform: translateX(500px);
  opacity: 0.5;
}

@media screen and (min-width: 1650px) {
  .about-image {
    right: -8%
  }
}
