.about-container {
    background-image: url("../../assets//images/code_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.about-image {
    position: relative;
    left: 12px;
}

.about-content-wrapper {
  overflow: hidden; 
}

.about-content {
  color: white;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}

.about-content.hide {
  transform: translateX(500px);
  opacity: .2;
}


