.nav-icons {
  position: absolute;
  top: 0;
  right: 0;
}

.img-container {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin-bottom: 2px;
}


.jason-icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}