.inner-nav {
    height: 100px;
    margin-top: -4%;
    background-image: url("../../assets//images/code_background.png");
    background-size: cover;
}

#inner-navbar > div > a {
    color: white;
    font-size: calc(8px + 1vw);
    padding: 4px 14px;
    box-shadow: 0px 0px 2px white;
    border-radius: 28px;
    margin: 8px;
}

#inner-navbar > div > a:hover {
    background-color: white;
    color: black;
}

.innernav-container {
    margin-left: 100px;
}


@media screen and (min-width: 1400px) {
    .inner-nav {
        margin-top: -3%;
    }
}
@media screen and (max-width: 767px) {
    .inner-nav {
       background-size: auto;
    }
    .innernav-container {
        margin-left: 10px;
    }
}
  
  