.footer {
  min-height: 250px;
  background-image: url("../../assets/images/leather_background.png");
  font-size: large;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 20px 28px black;
}

.footer-link:hover {
  font-weight: 900;
  text-decoration: underline;
}